<div class="main">
  <div>
    <h3>{{titles}}</h3>
    <input type="text" class="form-control" placeholder="Search employee" [(ngModel)]="searchEmployee"
           style="width: 396px;">
  </div>
  <hr>
  <form class="form-inline">
    <div class="form-group">
      <label class="sr-only" for="exampleInputName">Name</label>
      <input type="text" class="form-control" id="exampleInputName" placeholder="Name" [(ngModel)]="newEmployee.name">
    </div>
    <div class="form-group">
      <label class="sr-only" for="exampleInputProject">Project</label>
      <input type="text" class="form-control" id="exampleInputProject" placeholder="Project"
             [(ngModel)]="newEmployee.project">
    </div>
    <button type="submit" class="btn btn-default" (click)="addEmployee(newEmployee)">Add employee</button>
  </form>
  <br>

  <table class="table tableCustom" *ngIf='allEmployees.length'>
    <thead style="border-bottom: groove #041E38">
    <tr>
      <th>Name</th>
      <th>Project</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let emp of allEmployees | employeeFilter:searchEmployee">
      <td>{{emp.name}}</td>
      <td>{{emp.project | uppercase}}</td>
    </tr>
    </tbody>
  </table>
</div>
